fastapi[standard]
uvicorn[standard]
python-multipart
python-dotenv
pypdf
pymongo
qdrant-client
mixedbread-ai
langchain-core
langchain-text-splitters
langchain-qdrant
langchain-ollama
langchain-openai
langgraph
langgraph-checkpoint-mongodb
langmem
langchain-mcp-adapters
openai
